{
	"botName": "小兔子",
	"datadir": "./rabdata",
	"defaultMsg": {
		"dullMsg": "我只是一只小兔子，小兔子怎么会想到现在该说什么呢",
		"errorMsg": "谁把我做成麻辣兔头了？！",
		"paiMsg" : [
			"别拍了，别拍了，再拍成麻辣兔头了",
			"别拍了，再拍成麻辣兔头了",
			"你礼貌吗？啊？你礼貌吗？",
			"你再拍？再拍我不理你了",
			"行吧，你拍吧拍吧，谁让我只是一只小兔子"
		]
	},
	"tyqwToken": "sk-8422fb15eee54074b94907021281f6a9",
	"tyqwMaxhis": 20,
	"groupWhiteList" : [
		"一群单身狗",
		"理工F4",
		"咱们仨把日子过好比啥都强",
		"二龙戏珠",
		"洋佬带下俺8",
		"OW灌水群"
	],
	"rablog": {
		"maxsize": 5,
		"maxbackups": 3,
		"maxage": 30,
		"compress": true
	},
	"cron": {
		"cronDaily": "0 0 0 * *",
		"cronPerFM": "0 */5 * * *"
	},
	"feature": {
		"摸鱼日历": {
			"enable": true,
			"entry": "GetFishCal",
			"groupBlackList": {
				"一群单身狗": true,
				"洋佬带下俺8": true
			}
		},
		"抽签": {
			"enable": true,
			"entry": "DrawLots",
			"groupBlackList": {
				"OW灌水群": true
			}
		},
		"看点好看的": {
			"enable": true,
			"entry": "GetSetu",
			"groupBlackList": {}
		},
		"重置对话": {
			"enable": true,
			"entry": "DestroyHistory",
			"groupBlackList": {}
		},
		"汉语转拼音": {
			"enable": true,
			"entry": "TransPinyin",
			"groupBlackList": {}
		},
		"加入赛马": {
			"enable": true,
			"entry": "HorseComp",
			"groupBlackList": {}
		},
		"喜加一": {
			"enable": true,
			"entry": "XiPlusOne",
			"groupBlackList": {}
		}
	},
	"mysql": {
		"username": "root",
		"password": "root",
		"ip": "127.0.0.1",
		"port": 3306,
		"dbname": "chouqian",
		"charset": "utf8"
	}
}