{
	"botName": "小兔子",
	"datadir": "./rabdata",
	"defaultMsg": {
		"dullMsg": "我只是一只小兔子，小兔子怎么会想到现在该说什么呢",
		"errorMsg": "谁把我做成麻辣兔头了？！"
	},
	"groupWhiteList" : [
		"一群单身狗",
		"理工F4",
		"咱们仨把日子过好比啥都强",
		"二龙戏珠",
		"洋佬带下俺8",
		"OW灌水群"
	],
	"rablog": {
		"maxsize": 5,
		"maxbackups": 3,
		"maxage": 30,
		"compress": true
	},
	"cron": {
		"tmpCleanCron": "0 0 * * *"
	},
	"feature": {
		"摸鱼日历": {
			"enable": true,
			"entry": "GetFishCal",
			"groupBlackList": {
				"一群单身狗": true,
				"洋佬带下俺8": true
			}
		},
		"抽签": {
			"enable": true,
			"entry": "DrawLots",
			"groupBlackList": {
				"OW灌水群": true
			}
		}
	},
	"mysql": {
		"username": "root",
		"password": "root",
		"ip": "127.0.0.1",
		"port": 3306,
		"dbname": "chouqian",
		"charset": "utf8"
	}
}